<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Telegram Echo Bot</title>
    <base target="_top">
  </head>
  <body>
    <h1>Telegram Echo Bot</h1>
    <p>Webhook URL: {{ url }}</p>
    <p>Success: {{ success }}</p>
  </body>
</html>